#header-img{
    width: 10%;
    height: 60px;
   
}
.nav-toggle{
 font-size: 18px;
  color: white;
  padding: 0px;
 border: transparent ;
 background-color: transparent;
 display: none;
  
}
#toggle{
  float: right;
  margin-right: 5%;
 
}
/* defining the main nav block */
.top-nav{
    display: block;
    position: fixed;
    height: 60px;
    margin: -6px;
    line-height: 60px;
    background-color: rgb(114, 245, 114);
   }
@media (max-width:415px){
  .responsive{
    display: block;
    height: 50px;
    margin: -6px;
    line-height: 50px;
    
    
   
}
#header-img{
  width: 10%;
  height: 50px;
 
}

} 
/* removing bullets, margin, and padding */
.links{
 display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  vertical-align: top;
  
} 


/* displaying the links ie float or display: inline */
 .nav-link{
  display: inline;
} 
/* defining block stylings for the links */
 .top-nav a{
  display: inline-block;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color:white;
 
} 

@media screen  and (max-width:415px){
  .top-nav a{
    display: none;
  }
   .responsive #toggle{
    float: right;
    margin-right: 5%;
    
   }
   .nav-toggle{
    font-size: 18px;
     padding: 0px;
     border: transparent ;
     background-color: transparent;
     display: inline-block;
       
     } 
    .responsive a{
    text-decoration: none;
    display: list-item;
    padding-top: 0px;
    color: black;
    font-size: 14px;
    padding-left: 1px;
    
       
  } 
  .responsive a:hover{
     color: green;
  }
  .top-nav.responsive .links{
    background-color: rgb(114, 245, 114);
    margin-top: -10%;
    margin-left: 65%;
    padding: 10px;
  }
 
 }
 @media (min-width:450px) and (max-width:700px){
  .top-nav a{
    display: none;
  }
  .responsive #toggle{
    float: right;
    margin-right: 5%;
    
   }
   .nav-toggle{
    font-size: 18px;
     padding: 0px;
     border: transparent ;
     background-color: transparent;
     display: inline-block;
       
     } 
    .top-nav.responsive a{
    text-decoration: none;
    display: list-item;
    padding-top: 5px;
    color: black;
    font-size: 14px;
    padding-left: 5px;
    
    
       
  } 
  .top-nav.responsive a:hover{
     color: green;
  }
  .top-nav.responsive .links{
    background-color: rgb(114, 245, 114);
    margin-top: -5%;
    margin-left: 80%;
    padding: 10px;
  }
 
} 
 @media (min-width:705px) and (max-width:1024px){
  .links{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    vertical-align: top;    
    height: 0;
     
   }
}
#products1{
  margin-top: 0%;
  text-align: center;
  color: rgb(114, 245, 114);
  font-family: 'Kaushan Script', cursive;
}
#products2{
  text-align: center;
}
@media (max-width:415px){
  #products1{
    font-size: 18px;
  }
  #products2{
    font-size: 18px;
  }
}
#video{
    margin-top: 10%;
    margin-left: 25%;
    width: 50%;
}
@media (max-width:415px){
  #video{
    margin-top: 5%;
    z-index: 1000;
  }

}
@media (min-width:705px) and (max-width:1024px){
  #video{
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}
}
h2{
  font-family: sans-serif;
  
}
hr{
  width: 10%;
  margin-top: -1%;
}
#form{
    margin-top: 5%;
    margin-left: 10%;
    display: flex;
    
}
#products{
  display: grid;
    grid-template-columns:40% 40%;
  grid-auto-rows: 300px auto;
  grid-gap:20px;
  margin-left: 30%;
}

#products img{
  width: 100%;
  height: 100%;
}
#products #imagetwo{
  width: 100%;
  height: 90%;
}

@media screen and (max-width:415px){
  #explanations{
    font-size: 16px;
    font-family: serif;
   
  }
  #products{
    display: initial; 
    text-align: center;
  
    }
     #one{
      margin-left: 25%;
      }
    #two{
      margin-left: 25%;
      }
    #three{
      margin-left: 25%;
  
    }
}
@media (min-width:450px) and (max-width:800px){
  #products{
    display: initial; 
    text-align: center;
  
    }
     #one{
      margin-left: 25%;
      }
    #two{
      margin-left: 25%;
      }
    #three{
      margin-left: 25%;
  
    }
}
#one{
  width: 100%;
  line-height: 200%;
   
}

#two{
  width: 100%;
  line-height: 200%;
}
#three{
  width: 100%;
  line-height: 200%;
}
#more{
  display: none;
}
#more2{
  display: none;
}
#more3{
  display: none;
}
#read-more1{
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(190, 115, 115);

}
#read-more1:hover{
     color:rgb(248, 193, 121);
}
#read-more2{
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(190, 115, 115);

}
#read-more2:hover{
     color:rgb(248, 193, 121);
}
#read-more3{
  background-color: transparent;
  border: transparent;
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(190, 115, 115);

}
#read-more3:hover{
     color:rgb(248, 193, 121);
}
#products-more{
margin-left: 70%;
font-size: 18px;
font-family: sans-serif;
}
#products-more a{
  text-decoration: none; 
  color: rgb(190, 115, 115);
}
#products-more a:hover{
  text-decoration: none; 
  color: rgb(248, 193, 121);
}
@media (max-width:415px){
  #products-more{
    margin-left: 70%;
    font-size: 12px;
    font-family: sans-serif;
    }
    #read-more1{
      font-size: 16px; 
       
    }
    #read-more2{
      font-size: 16px;    
    }
    #read-more3{
      font-size: 16px;    
    }
    #products-more{
      font-size:16px;
      margin-left: 10%;
    }
}