#header-img{
    width: 10%;
    height: 60px;
   
}
.nav-toggle{
 font-size: 18px;
  color: white;
  padding: 0px;
 border: transparent ;
 background-color: transparent;
 display: none;
  
}
#toggle{
  float: right;
  margin-right: 5%;
 
}
/* defining the main nav block */
.top-nav{
    display: block;
    position: fixed;
    height: 60px;
    margin: -6px;
    line-height: 60px;
    background-color: rgb(114, 245, 114);
   }
@media (max-width:415px){
  .responsive{
    display: block;
    height: 50px;
    margin: -6px;
    line-height: 50px;
    
    
   
}
#header-img{
  width: 10%;
  height: 50px;
 
}

} 
/* removing bullets, margin, and padding */
.links{
 display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  vertical-align: top;
  
} 


/* displaying the links ie float or display: inline */
 .nav-link{
  display: inline;
} 
/* defining block stylings for the links */
 .top-nav a{
  display: inline-block;
  text-align: center;
  padding: 0px 30px;
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color:white;
 
} 
/* defining styles for the dropdown */
#items{
  color:black;
}

@media screen  and (max-width:415px){
  .top-nav a{
    display: none;
  }
   .responsive #toggle{
    float: right;
    margin-right: 5%;
    
   }
   .nav-toggle{
    font-size: 18px;
     padding: 0px;
     border: transparent ;
     background-color: transparent;
     display: inline-block;
       
     } 
    .responsive a{
    text-decoration: none;
    display: list-item;
    padding-top: 0px;
    color: black;
    font-size: 14px;
    padding-left: 1px;
    
       
  } 
  .responsive a:hover{
     color: green;
  }
  .top-nav.responsive .links{
    background-color: rgb(114, 245, 114);
    margin-top: -10%;
    margin-left: 65%;
    padding: 10px;
  }
 
 }
 @media (min-width:450px) and (max-width:700px){
  .top-nav a{
    display: none;
  }
  .responsive #toggle{
    float: right;
    margin-right: 5%;
    
   }
   .nav-toggle{
    font-size: 18px;
     padding: 0px;
     border: transparent ;
     background-color: transparent;
     display: inline-block;
       
     } 
    .top-nav.responsive a{
    text-decoration: none;
    display: list-item;
    padding-top: 5px;
    color: black;
    font-size: 14px;
    padding-left: 5px;
    
    
       
  } 
  .top-nav.responsive a:hover{
     color: green;
  }
  .top-nav.responsive .links{
    background-color: rgb(114, 245, 114);
    margin-top: -5%;
    margin-left: 80%;
    padding: 10px;
  }
 
} 
 @media (min-width:705px) and (max-width:1024px){
  .links{
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 15%;
    vertical-align: top;    
    height: 0;
     
   }
}
.firstcontainer{
  display: inline-block;
  margin-top: 1%;
  vertical-align: middle;
  margin-left: 10%; 
  
}
.intro-text{
  text-align: center;
}
.number{
  position: absolute;
  left: 11%;
  color: rgb(60, 250, 60);
}
 
  .slideshow-container{
  width:100%;
  height: 30%;
  
  }
  .slideshow-container img {
    width: 80%;
    height: 30%;
   
  }
  .pic-slides{
    display: none;
  }

.dots{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 0 2px;
  background-color: rgb(114, 245, 114);
  display: inline-block;
  transition: background-color 0.5s ease-in;
}
.active{
  background-color: rgb(124, 141, 124);
}
.fade{
  animation-name: fade;
  animation-duration: 2s;
}
@keyframes fade{
  0%{opacity:0.3}
  100%{opacity: 1}
}
.container{
  width: 50%;
  border:1px solid rgb(243, 237, 237);
  text-align: center;
  border-radius: 10px;
  background-color: rgb(196, 233, 196);
  transform: translate(-30%,-30%);
  margin-left: 30%;
  margin-top: -50%;
  padding: 30px 5px;
  
}
#form{
  display: none;
  z-index: 2;
  
}
.close{
  border: transparent;
  margin-right: 105%;
  font-size: 20px;
  background-color: transparent;
  color: rgb(114, 245, 114);
}
#newsletter{
  color: rgb(114, 245, 114);
  margin-top: -0%;
  filter: drop-shadow(10px 10px 10px rgb(179, 190, 179));
}
#quote{
  font-size: 18px;
 
}
#author{
  color: rgb(114, 245, 114);
  margin-left: 50%;
}
#enve-container{
  border-radius: 70%;
  border: 1px solid rgb(114, 245, 114);
  width: 15%;
  height: 30%;
  position: absolute;
  background-color: rgb(114, 245, 114);
  left: -8%;
  margin-top: 5%;
  filter: drop-shadow(10px 10px 10px rgb(179, 190, 179));
}
#envelope{
  color: white;
  padding: 20px;
  font-size: 50px;
  margin-left: -2%;
  margin-bottom: 170%;
   
 }
 .tick{
  border-width: 10%;
   font-weight: bold;
   font-size: 18px;
 }
 
   #name{
     padding: 10px;
   }
   #email{
     padding: 10px;
   }
   .buttons{
     margin-top: 2%;
    
     }
     .texts{
      margin-top: 1%;
     }
     #submit{
      margin-left: 10%;
      padding: 5px 50px;
      font-size: 18px;
      text-align: center;
      border-radius: 5px;
      color: white;
      border-color: rgb(114, 245, 114);
      background-color: rgb(114, 245, 114);
      filter: drop-shadow(10px 10px 10px rgb(179, 190, 179));
     }
     input{
       caret-color: rgb(76, 218, 76);
       
     }
          
       
    
   
     .open{
       font-size: 18px;
       margin-top: 5%;
       background-color: rgb(198, 238, 198);
       width: 20%;
       padding: 5px 10px;
      color: rgb(15, 14, 14);
      border-radius: 5px;
      position: absolute;
      left:80%;
      top: -1%;

     

     }
     .open:hover{
       color: rgb(114, 245, 114);
     }
     #social{
     margin-left: 20%;     
      
     }
     #social:hover{
       color: rgb(114, 245, 114);
     }
   @media (max-width:415px){
     .container{
       width: 60%;
     }
     #newsletter{
       font-size: 18px;
     }
     #quote{
      font-size: 16px;
     
    }
    #enve-container{
      border-radius: 70%;
     
      width: 20%;
      height: 15%;
      position: absolute;
      background-color: rgb(114, 245, 114);
      left: -8%;
      margin-top: 5%;
      filter: drop-shadow(10px 10px 10px rgb(179, 190, 179));
    }
    #envelope{
      color: white;
      padding: 20px;
      font-size: 25px;
      margin-left: -25%;
      margin-top: -10%;
       
     }
     #submit{
       font-size: 16px;
     }
   .tick{
     font-size: 16px;
   }
   .open{
    font-size: 12px;
      background-color: rgb(198, 238, 198);
    width: 50%;
    padding: 5px 10px;
   color: rgb(15, 14, 14);
   border-radius: 5px;
   position: absolute;
   left:50%;
   top: 50%;
   }
  }
  @media (min-width:420px) and (max-width:700px){
    .container{
      width: 60%;
      margin-top: -30%;
    }
  
    #quote{
     font-size: 18px;
    
   }
   #enve-container{
     border-radius: 70%;
    
     width: 20%;
     height: 15%;
     position: absolute;
     background-color: rgb(114, 245, 114);
     left: -8%;
     margin-top: 5%;
     filter: drop-shadow(10px 10px 10px rgb(179, 190, 179));
   }
   #envelope{
    color: white;
    padding: 20px;
    font-size: 30px;
    margin-left: -5%;
    margin-top: -10%;
     
     
   }
   .open{
    font-size: 16px;
     background-color: rgb(198, 238, 198);
    width: 50%;
    padding: 5px 10px;
   color: rgb(15, 14, 14);
   border-radius: 5px;
   position: absolute;
   left:50%;
   top: 50%;
   }
  }